/* src/index.css */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import "tailwindcss"; /* V4 권장 방식 */

body {
  font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::selection { color: #ffffff; background-color: #1e3a8a; }
  font-size: 1rem;
  line-height: 1.4;
  color: #222;
}

:root {
        --max-wd: 48rem;

        --pri0: #1E40AF;
        --pri1: #0057FF;
        --pri2: #00A3FF;
        --pri3: #5BC4FF;
        --pri4: #57A4FF;
        --pri5: #E96E0D;
        --pri6: #F5AE1B;
        --pri7: #EFF6FF;
        --pri8: #F8FAFC;

        /* Background - bg */
        --bg1: #FFE9EB;
        --bg2: #F5F7FB;
        --bg3: #F9F9FA;

        /* Stroke - stroke */
        --stroke1: #000000;
        --stroke2: #555555;
        --stroke3: #C1C1C1;
        --stroke4: #DDDDDD;
        --stroke5: #E2E2E2;

        /* Typography - typo */
        --typo1: #000000;
        --typo2: #222222;
        --typo3: #2E2E2E;
        --typo4: #333333;
        --typo5: #555555;
        --typo6: #777777;
        --typo7: #999999;
        --typo8: #BCBCBC;

        /* Status - status */
        --status-r1: #F92020;
        --status-r2: #F92020CC;
        --status-r3: #FFE2E2;
        --status-b1: #57A4FF;
        --status-b2: #57A4FFCC;
        --status-b3: #DAF2FF;
}

#root { width: clamp(0px, 100%, var(--max-wd)); margin: 0 auto; }

nav { position: sticky; top: 0; z-index: 50; height: 2rem; width: clamp(0px, 100%, var(--max-wd)); text-align: right; background-color: rgba(255, 255, 255, 0.1); backdrop-filter: blur(0.25rem); border-bottom: 1px solid #ddd; padding: 0.25rem 0; }
nav .logo { font-size: 1.5rem; color: #f5f5f5; font-weight: 700; }
nav > ul { display: flex; gap: 1rem; align-items: center; }

.intro-title { font-size: 1.25rem; font-weight: 600; text-align: center; background-color: var(--bg2); border-radius: 0.5rem; padding: 0.25rem; margin: 0.5rem auto; }

.intro-content { border: 1px solid var(--stroke4); border-radius: 0.5rem; }
.intro-content > div { padding: 1rem 2rem; }

.intro-content .intro-user { display: flex; gap: 1rem; align-items: flex-start; background-color: var(--bg2); }
.intro-content .intro-user .thumbnail { width: 7rem; aspect-ratio: 1/1; border: 3px solid #fff; border-radius: 50%; background-color: #00A3FF; }
.intro-content .intro-user .desc { }
.intro-content .intro-user .desc .name { font-size: 1.75rem; font-weight: 700; }
.intro-content .intro-user .desc .job { font-size: 1.25rem; color: var(--typo5); font-weight: 400; }
.intro-content .intro-user .desc .contact { display: flex; gap: 1rem; }
.intro-content .intro-user .desc .contact a { display: flex; gap: 0.5rem; align-items: center; font-size: 0.75rem; }
.intro-content .intro-user .desc .contact a svg { width: 0.75rem; }